# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3

# Virtual envs
.env
.venv
env/
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# MLflow and models (optional, recommended)
mlruns/
chosen_model/

# Docker
*.tar
