name: MLflow CI

on:
  push:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install deps
        run: |
          pip install -r requirements.txt
          pip install mlflow scikit-learn pandas

      - name: Run training through MLflow (using local env)
        run: |
          mlflow run . -e train --env-manager=local
